<h1>Pirate</h1>
<p>Name: <%= @pirate.name %></p>
<p>Name: <%= @pirate.weight %></p>
<p>Name: <%= @pirate.height %></p>

<h2>Display your first ship here</h2>
<p>Name: <%= @ship_1.name %></p>
<p>Name: <%= @ship_1.type %></p>
<p>Name: <%= @ship_1.booty %></p>

<h2>Display your second ship here</h2>
<p>Name: <%= @ship_2.name %></p>
<p>Name: <%= @ship_2.type %></p>
<p>Name: <%= @ship_2.booty %></p>
